PORT=your_port_number
NODE_ENV=your_node_env
BASE_PATH=your_base_path
APP_ORIGIN=your_app_origin
JWT_AUDIENCE=your_jwt_audience
JWT_ISSUER=your_jwt_issuer
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRES_IN=your_jwt_access_expires_in
JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_expires_in
JWT_REFRESH_SECRET=your_jwt_refresh_secret
MONGODB_URI=your_mongodb_uri
wo9nFdONxI2fi32g
